@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  html {
    filter: invert(1) hue-rotate(180deg);
  }

  html img,
  html video,
  html .site-branding__text,
  html iframe {
    filter: invert(1) hue-rotate(180deg);
  }

}

.tweet {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 6px;
  border: 1px lightgray solid;
  padding: 1em;
}
