@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  html {
    filter: invert(1) hue-rotate(180deg);
  }

  html img,
  html video,
  html .site-branding__text,
  html iframe {
    filter: invert(1) hue-rotate(180deg);
  }

}

